# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv
.env

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
