{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>💬 Community Journals</title>
  <link rel="stylesheet" href="{% static 'css/mind_css/community.css' %}" />
</head>

<body>
  <h1>💬 Community Journals</h1>
  <p>Read journals and support others with kind comments 🌻</p>

  <div id="postsContainer" style="margin-top:30px;">
    <p style="color:#aaa;">Loading posts...</p>
  </div>

  <script src="{% static 'js/mind_js/community.js'}"></script>
</body>
</html>
